/* https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor */

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #1e2041;
  --sl-color-accent: #5655d0;
  --sl-color-accent-high: #bfc5f1;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #ececfc;
  --sl-color-gray-2: #c6c6d9;
  --sl-color-gray-3: #a1a0c4;
  --sl-color-gray-4: #555475;
  --sl-color-gray-5: #363452;
  --sl-color-gray-6: #25223f;
  --sl-color-black: #171624;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #cfd5f6;
  --sl-color-accent: #423bb4;
  --sl-color-accent-high: #292b60;
  --sl-color-white: #171624;
  --sl-color-gray-1: #25223f;
  --sl-color-gray-2: #363452;
  --sl-color-gray-3: #555475;
  --sl-color-gray-4: #8887ab;
  --sl-color-gray-5: #c0c0d3;
  --sl-color-gray-6: #ececfc;
  --sl-color-gray-7: #f5f5fd;
  --sl-color-black: #ffffff;
}
/* Logo Style */

.title-wrapper img {
  filter: invert(1);
  height: 1.5rem;
}

:root[data-theme="light"] .title-wrapper img {
  filter: invert(0);
}

[data-theme="light"]
/* List styles*/
main ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  line-height: 1.6;
}

main ol li {
  margin-bottom: 0.5em;
}

main ol li::marker {
  color: var(--sl-color-accent);
}

main ul {
  list-style-type: disc;
  margin-left: 1.5em;
  line-height: 1.6;
}

main ul li {
  margin-bottom: 0.5em;
}

main ul li::marker {
  color: var(--sl-color-accent);
}
